---
import Layout from '@layouts/Layout.astro';

import { Market } from "@modules"

const { network, market } = Astro.params;

// todo update meta data + ogs
const meta = {
  title: market ? `${market}` : "Stability",
  img: "/ogs/pages/vaults.png",
  url: `https://stability.farm/lending/${network}/${market}`,
  description:""
}

---
<Layout 
  title={meta.title} 
  img={meta.img} 
  metaTitle={meta.title} 
  metaUrl={meta.url} 
  metaDescription={meta.description}
>
  <div class="max-w-[1200px]">
    <Market network={network} market={market} client:only="react" />
  </div>
</Layout>
