---
import App from "./App";
// import { ViewTransitions } from 'astro:transitions';

import { Header} from "@components/Header"
import { Navbar } from "@components/Navbar";
import { Menu } from "@components/Menu"
import { Disclaimer } from "@components/Disclaimer";
import { Toast } from "../ui/Toast"

interface IProps {
  title: string;
  img: string;
  metaTitle: string;
  metaUrl: string;
  metaDescription: string;
}

const {
  title,
  img = '/ogs/pages/stability.png',
  metaTitle = "On-chain asset management, liquidity mining and yield farming platform.",
  metaUrl = "https://stability.farm/",
  metaDescription = "On-chain asset management, liquidity mining and yield farming platform.",
} = Astro.props as IProps;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X8NC1VWRMV"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', import.meta.env.PUBLIC_GOOGLE_ANALYTICS_KEY);
    </script>
    <meta charset="UTF-8" />
    <meta name="description" content={metaDescription} />
    <meta name="viewport" content="width=device-width" />
    <meta name="twitter:image:src" content={img} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={metaTitle} />
    <meta name="twitter:description" content={metaDescription} />
    <meta property="og:image" content={img} />
    <meta property="twitter:image:height" content="100" />
    <meta property="twitter:image:width" content="100" />
    <meta property="og:image:alt" content={metaTitle} />
    <meta property="og:type" content="object" />
    <meta property="og:title" content={metaTitle} />
    <meta property="og:url" content={metaUrl} />
    <meta property="og:description" content={metaDescription} />
	<link rel="icon" type="image/svg+xml" href="/favicon.ico">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Stability</title>
    <!-- <ViewTransitions /> -->
  </head>
  <body>
    <App client:only="react">
		<div class="layout">
			<Navbar client:only="react"/>
			<Menu client:only="react" />
			<div
				class="w-full h-[50%] absolute"
				style={{
					background: `linear-gradient(180deg, rgba(97, 106, 115, 0.00) 0%, rgba(97, 106, 115, 0.12) 40%, rgba(97, 106, 115, 0.12) 60%, rgba(0, 0, 0, 0.00) 100%)`,
				}}
			/>
			<div class="container">
				<Header client:only="react"/>
				<main class="content">
					<slot />
				</main>
			</div>
			<Disclaimer client:only="react"/>
			<Toast client:only="react" />
		</div>
    </App>
  </body>
</html>
<style is:global>
	html {
		width:100vw;
		font-family: "Manrope", sans-serif;
		background: #090909;
	}

	* {
		outline: none;
	}

	html, body {
		height: 100%;
		margin: 0;
		overflow-x: clip;
	}
	::-webkit-scrollbar {
	    width: 8px;
	}

	::-webkit-scrollbar-track {
		background-color: #0b0b0b;
	}

	::-webkit-scrollbar-thumb {
		background-color: #101012;
		border-radius: 8px;
	}

	.layout {
  		display: flex;
		width:100%;
	}

	.header {
		position: fixed;
		top: 0;
		left: 250px;
		width: calc(100% - 250px);
		height: 52px;
		background-color: #0b0b0b;
		z-index: 1000;
		border-bottom:1px #23252A solid;
		color:#fff;
	}

	.navbar {
		position: fixed;
		top: 0;
		left: 0;
		width: 250px;
		height: 100vh;
		background-color: #101012;
		z-index: 1000;
		border-right:1px #23252A solid;

		overflow-y: auto;
		-webkit-overflow-scrolling: touch; 
		scrollbar-width: thin; 
		scrollbar-color: #2a2a2e transparent;
	}

	.container {
		position: relative;
		left: 250px;
		width: calc(100% - 250px);
		display: flex;
		flex-direction: column;
		height: 100vh;
	}

	.content {
		margin-top: 60px; 
		padding: 1rem;
		height: calc(100vh - 60px);
	}

	@media screen and (max-width: 1560px) {
		.header {
			left: 0px;
			width: 100%;
			background-color:#111114;
		}
		.container {
			left: 0px;
			min-width:100%;
		}

		.content {
			margin-top: 100px; 
		}

		.navbar {
			z-index: 1500;
		}
	}

	.title {
		display: flex;
		align-items: center;
	}
	.title > a {
		color: #a995ff;
		/* font-family: "Manrope", sans-serif; */
  		font-optical-sizing: auto;
		letter-spacing: 0.1px;
		display: inline-flex;
		align-items: center;
		flex-wrap: nowrap;
		font-size: 20px;
		font-weight: bold;
		/* text-transform: uppercase; */
	}
	.title img {
		margin: auto 6px auto 10px;
		height: 32px;
	}
	main {
		margin: 0 auto auto auto;
		padding: 1rem 0.5rem;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		min-height:80vh;
	}
	@media screen and (max-width:1024px) {
		main {
			max-width: 100%;
			margin:0;
		}
	}
	h1 {
		font-size: 2rem;
		font-weight: 700;
		/* line-height: 1; */
		text-align: center;
		margin-bottom: 1em;
	}
	h2 {
		text-align: center;
	}

	.overlay {
		left: 0;
		top: 0;
		display: flex;
		position: fixed;
		width: 100vw;
		height: 100vh;
		z-index: 100;
		background-color: rgba(0,0,0,0.5);
		justify-content: center;
		align-items: center;
	}

	.modal {
		display: flex;
		margin-right: 20px;
		flex-direction: column;
		background-color: #3d1d53;
		min-width: 300px;
		min-height: 100px;
		height: auto;
		z-index: 110;
		padding: 10px 30px;
		border-radius: 6px;
	}

	/* TOOLTIPS */

	.tooltip {
    	position:relative;
	}

	.tippy-box[data-theme~="custom"] {
		background-color: #111114 !important; 
		padding: 8px;
		border: 1px solid #232429;
	}
	.tippy-box[data-theme~="custom"] .tippy-arrow {
  		color: transparent !important;
	}

	.tooltip .visible__tooltip {
		width:200px;
		left:50%;
		top:-17px;
		transform:translate(-30%,-100%);
		padding:8px;
		background-color:#1C1D1F;
		font-size:14px;
		border: 1px solid #383B42;
		border-radius:8px;
		position:absolute;
		z-index:99999999;
		box-sizing:border-box;
		box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18), 0px 2px 5px 0px rgba(0, 0, 0, 0.18), 0px 3px 8px 0px rgba(0, 0, 0, 0.18), 0px 20px 20px -8px rgba(0, 0, 0, 0.18);
		display:none;
		pointer-events: none;
	}
	.tooltip:hover .visible__tooltip {
		display:block;
	}

	.visible__tooltip:hover {
		display: none !important;
	}
	.tooltip .visible__tooltip i {
		position:absolute;
		top:99%;
		left:50%;
		margin-left:-15px;
		width:30px;
		height:15px;
		overflow:hidden;
	}
	.tooltip .visible__tooltip i::after {
		content:'';
		position:absolute;
		width:15px;
		height:15px;
		left:50%;
		transform:translate(-50%,-50%) rotate(45deg);
		background-color:#26282f;
	}
	.visible__tooltip:hover {
		display: none !important;
	}
	@media screen and (max-width:870px) {
		.tooltip:hover .visible__tooltip {
			display:none !important;
		}
	}

	.truncated-text {
  		white-space: nowrap;        
  		overflow: hidden;           
  		text-overflow: ellipsis;    
  		width: 100px;                
	}

	/* Checkbox */
	input[type="checkbox"]::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 6px;
        height: 10px;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        transform: translate(-50%, -60%) rotate(45deg);
        opacity: 0;
        transition: opacity 0.1s ease;
	}
   	input[type="checkbox"]:checked::before {
        opacity: 1;
    }

	/* Range */

	input[type='range'].slider-thumb::-webkit-slider-thumb {
		appearance: none;
		width: 0;
		height: 0;
		background: transparent;
		border: none;
	}

	input[type='range'].slider-thumb::-moz-range-thumb {
		width: 0;
		height: 0;
		background: transparent;
		border: none;
	}

	/* Loader fade */
	@keyframes fade {
        0%,
        100% {
          opacity: 1;
        }
        50% {
          opacity: 0.3;
        }
    }

	/* Rewards */
	.sGem1RewardBg {
    	background: radial-gradient(115% 150.28% at 50% 27.72%, rgba(0, 0, 0, 0.00) 37.41%, rgba(94, 106, 210, 0.80) 69.27%, rgba(255, 255, 255, 0.80) 100%), #101012;
  	}

	/* Loader */
	.loader {
		width: 44px;
		height: 44px;
		animation: loader-animation 2s infinite ease;
		transform-style: preserve-3d;
	}
	.loader > div {
		background-color: rgba(145,128,244,0.16);
		height: 100%;
		position: absolute;
		width: 100%;
		border: 2px solid #9180F4;
	}
	.loader div:nth-of-type(1) {
		transform: translateZ(-22px) rotateY(180deg);
	}
	.loader div:nth-of-type(2) {
		transform: rotateY(-270deg) translateX(50%);
		transform-origin: top right;
	}
	.loader div:nth-of-type(3) {
		transform: rotateY(270deg) translateX(-50%);
		transform-origin: center left;
	}
	.loader div:nth-of-type(4) {
		transform: rotateX(90deg) translateY(-50%);
		transform-origin: top center;
	}
	.loader div:nth-of-type(5) {
		transform: rotateX(-90deg) translateY(50%);
		transform-origin: bottom center;
	}
	.loader div:nth-of-type(6) {
		transform: translateZ(22px);
	}
	@keyframes loader-animation {
		0% {
			transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
		}

		50% {
			transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
		}

		100% {
			transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
		}
	}
	/** FONTS ***/
	.page-title__font {
		font-size: calc(32px + 8 * ((100vw - 360px) / (1440 - 320)));
		line-height: 48px;
		font-weight: 600;
	}
	.page-description__font {
		font-size: calc(18px + 2 * ((100vw - 360px) / (1440 - 320)));
		line-height: 32px;
		font-weight: 500;
	}
	.portfolio__font {
		font-size: calc(32px + 8 * ((100vw - 360px) / (1440 - 320)));
		line-height: 48px;
		font-weight: 600;
	}
	.hide-scrollbar {
		scrollbar-width: none; 
		-ms-overflow-style: none; 
	}
	.hide-scrollbar::-webkit-scrollbar {
		display: none; 
	}
	.metaS {
		background: radial-gradient(96.02% 90.28% at 50% 27.72%, rgba(16, 16, 18, 0) 57.41%, rgba(53, 54, 59, 0.8) 69.27%, rgba(163, 164, 166, 0.5) 100%), rgb(16, 16, 18);
		position: relative;
	}
	.metaS::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 150px;
		height: 150px;
		background-image: url('/features/metaS-bg.svg');
		background-size: contain;
		background-repeat: no-repeat;
		pointer-events: none;
		z-index:0;
	}
	.metaUSD {
		background: radial-gradient(96.02% 90.28% at 50% 27.72%, rgba(16, 16, 18, 0) 57.41%, rgba(72, 58, 156, 0.8) 69.27%, rgba(216, 215, 249, 0.5) 100%), rgb(16, 16, 18);
		position: relative;
	}
	.metaUSD::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 150px;
		height: 150px;
		background-image: url('/features/metaUSD-bg.svg');
		background-size: contain;
		background-repeat: no-repeat;
		pointer-events: none;
		opacity:0.3;
		z-index: 0;
	}

	.metaUSDT {
		background: radial-gradient(96.02% 90.28% at 50% 27.72%, rgba(16, 16, 18, 0) 57.41%, rgba(53, 54, 59, 0.8) 69.27%, rgba(163, 164, 166, 0.5) 100%), rgb(16, 16, 18);
		position: relative;
	}
	.metaUSDT::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 150px;
		height: 150px;
		background-image: url('/features/metaUSDT-bg.svg');
		background-size: contain;
		background-repeat: no-repeat;
		pointer-events: none;
		opacity:0.3;
		z-index: 0;
	}
</style>